<a href="https://colab.research.google.com/github/yash110307/DO-LAB/blob/main/lab_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [13]:
import pandas as pd
import numpy as np

In [4]:
pd.read_excel('/content/drive/MyDrive/ODD.xlsx')

,Employee_Name,Employee_ID,Job_Role,Phone_Number,Email_ID,Total_Work_Hour_per_Month,Salary_per_Month
0,Jane Miller,8797,Developer,3.801881e+09,emily.taylor@example.com,9999.0,NaN
1,Michael Brown,6540,Manager,7.904752e+09,john.brown@test.net,160.0,11200.0
2,Sarah Anderson,2353,Developer,9.463822e+09,sarah.wilson@sample.org,9999.0,-5000.0
3,Chris Johnson,6392,Engineer,8.727628e+09,john.jones@sample.org,160.0,8000.0
4,Laura Smith,1653,Analyst,7.750284e+08,sarah.taylor@test.net,9999.0,NaN
...,...,...,...,...,...,...,...
95,Emily Smith,5111,NaN,4.463884e+09,james.davis@test.net,-10.0,100000.0
96,Sarah Wilson,7388,Engineer,7.455009e+09,john.johnson@example.com,NaN,100000.0
97,NaN,3773,Manager,4.515526e+08,david.miller@sample.org,NaN,100000.0
98,Sarah Smith,1442,Analyst,3.294945e+09,jessica.anderson@example.com,-10.0,-5000.0
99,Michael Jones,3490,Analyst,9.425622e+09,john.miller@sample.org,NaN,NaN

In [8]:
# question 1
# are there missing values in any columns ? if so in which columns?

In [15]:
df = pd.read_excel('/content/drive/MyDrive/ODD.xlsx')

In [17]:
missing_values = df.isnull().sum()

In [19]:
print("columns with missing values:")
print(missing_values[missing_values > 0])

columns with missing values:
Employee_Name                 9
Job_Role                     10
Phone_Number                  8
Email_ID                      9
Total_Work_Hour_per_Month    23
Salary_per_Month             20
dtype: int64

In [21]:
# question 2
#what is the data type of each column,and are they appropriate for thier contxt?

In [23]:
  print(df.dtypes)

Employee_Name                 object
Employee_ID                    int64
Job_Role                      object
Phone_Number                 float64
Email_ID                      object
Total_Work_Hour_per_Month    float64
Salary_per_Month             float64
dtype: object

In [24]:
for col in df.columns:
  print(f"\nColumn: {col}")
  print(f'Data type: {df[col].dtype}')

Column: Employee_Name
Data type: object

Column: Employee_ID
Data type: int64

Column: Job_Role
Data type: object

Column: Phone_Number
Data type: float64

Column: Email_ID
Data type: object

Column: Total_Work_Hour_per_Month
Data type: float64

Column: Salary_per_Month
Data type: float64

In [27]:
#question 3
#some employee have "9999" in the total _work_hour_per_month_column.what does this represent and should it be replaced